body {
  background-color: black;
}

.poem-main {
	margin: 1em 20%;
	background-color: #4f4f4f;
  text-align: center;
  font-family: sans-serif;
  border-radius: 10px solid pink;
}

.poem-header {
  /*font: Helvetica, Arial, Serif;*/
  text-align: center;
  text-transform: full-width;
  font-weight: bold;
  font-size: 35px;
}

.poem-desc {
  padding: 0px 10px;
}

.poem-content {
  list-style-type: none;
}

.poem-content li::first-letter {
  font-weight:300;
  font-size: 25px;
}

.copyright {
  color: white;
}

.copyright.poem-link {
  color: green;
}

div#nav {
list-style-type: none;
  float: left;
  width: 25%;
  margin-right: 10%;
  margin-left: 0;
  padding-bottom: 25em;
  background-color: yellow;

}
